services:
  ipfs_host:
    image: ipfs/kubo:latest
    container_name: ipfs_host
    volumes:
      - ./ipfs_staging:/export
      - ./ipfs_data:/data/ipfs
    ports:
      - "4003:4001"
      - "4003:4001/udp"
      - "127.0.0.1:8080:8080"
      - "127.0.0.1:5001:5001"  # Changed to expose the API port properly
    entrypoint: >
      /bin/sh -c "
        ipfs init || true &&
        ipfs config --json API.HTTPHeaders.Access-Control-Allow-Origin '[\"*\"]' &&
        ipfs config --json API.HTTPHeaders.Access-Control-Allow-Methods '[\"GET\", \"POST\", \"PUT\", \"DELETE\", \"OPTIONS\"]' &&
        ipfs config --json API.HTTPHeaders.Access-Control-Allow-Headers '[\"X-Requested-With\", \"Content-Type\", \"User-Agent\", \"Authorization\"]' &&
        ipfs config Addresses.API /ip4/0.0.0.0/tcp/5001 &&
        ipfs daemon --migrate=true
      "