@tailwind base;
@tailwind components;
@tailwind utilities;

@media (hover: hover) and (pointer: fine) {
  *:hover {}
}

@media all and (display-mode: standalone) {
  :root {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
  }

  html {
    padding-top: var(--sat);
  }

  .pwa-header {
    transform: translateY(calc(-1 * var(--sat)));
  }

  .pwa-header .pwa-item {
    padding-top: var(--sat);
  }

  div[role="dialog"] {
    padding-top: calc(1.5rem + var(--sat));
  }
}

:root {
  --color-primary: #2d2df1;
}

html {
  scrollbar-color: #2d2df1 white;
  scrollbar-width: 6px;
}

html.dark {
  scrollbar-color: #17cac6 #001324;
  scrollbar-width: 6px;
}

html::-webkit-scrollbar {
  background-color: white;
  width: 6px;
}

html.dark::-webkit-scrollbar {
  background-color: #001324;
  width: 6px;
}

body[data-scroll-locked] header {
  margin-right: calc(0.5rem + var(--removed-body-scroll-bar-size)) !important;
}

@media (min-width: 768px) {
  body[data-scroll-locked] header {
    padding-right: calc(1rem + var(--removed-body-scroll-bar-size)) !important;
  }
}

pera-wallet-sign-txn-toast {
  position: relative;
  z-index: 50 !important;
}

defly-wallet-sign-txn-toast {
  position: relative;
  z-index: 50 !important;
}