@tailwind base;
@tailwind components;
@tailwind utilities;

@media (hover: hover) and (pointer: fine) {
  *:hover {}
}

@media all and (display-mode: standalone) {
  html {
    padding-top: env(safe-area-inset-top);
  }

  .pwa-header {
    transform: translateY(calc(-1 * env(safe-area-inset-top)));
  }

  .pwa-header div {
    padding-top: env(safe-area-inset-top);
  }

  div[role="dialog"] {
    padding-top: calc(1.5rem + env(safe-area-inset-top));
  }
}

:root {
  --color-primary: #2d2df1;
}

html,
body {
  height: 100%;
}

html {
  scrollbar-color: #2d2df1 white;
  scrollbar-width: 6px;
}

html.dark {
  scrollbar-color: #17cac6 #001324;
  scrollbar-width: 6px;
}

html::-webkit-scrollbar {
  background-color: white;
  width: 6px;
}

html.dark::-webkit-scrollbar {
  background-color: #001324;
  width: 6px;
}

pera-wallet-sign-txn-toast {
  position: relative;
  z-index: 50 !important;
}

defly-wallet-sign-txn-toast {
  position: relative;
  z-index: 50 !important;
}