---
import Layout from "@/layouts/Layout.astro";
import Page from "@/layouts/Page.astro";
import ErrorCard from "@/components/ErrorCard.astro";
---

<Layout title={"Not Found"} description={"The page you are looking for does not exist."}>
  <Page>
    <div class="flex flex-col items-center justify-center flex-1 h-full">
      <ErrorCard message="Page not found" />
    </div>
  </Page>
</Layout>
