---
import Layout from "@/layouts/Layout.astro";
import Page from "@/layouts/Page.astro";

import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";

const title = "xGov";
---

<Layout title={title} description="xGov Documentation">
  <Page path="/">
    <Breadcrumb slot="breadcrumb">
      <BreadcrumbList>
        <BreadcrumbItem>
          <BreadcrumbLink href="/">Home</BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbPage>Docs</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbList>
    </Breadcrumb>
    <h1 class="text-3xl text-wrap lg:text-4xl max-w-3xl font-bold my-8">
      Docs
    </h1>
    <p>Coming soon</p>
  </Page>
</Layout>
