---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ProposalFilter from '../components/ProposalFilter';
import type { ProposalCardDetails } from '../types/proposals';
import ProposalList from '../components/ProposalList';

const title = 'xGov';

const mockProposals: ProposalCardDetails[] = [
	{
		id: 1,
		title: 'Auto-Compounding Farms',
		phase: 'discussion',
		category: 'DeFi',
		fundingType: 'retroactive',
		requestedAmount: 75_000,
		proposer: 'CompX'
	},
	{
		id: 2,
		title: 'Tealscript interactive developer course Tealscript interactive developer course',
		phase: 'vote',
		category: 'Education',
		fundingType: 'proactive',
		requestedAmount: 30_000,
		proposer: 'AgorApp'
	},
	{
		id: 3,
		title: 'Use-Wallet',
		phase: 'vote',
		category: 'Libraries',
		fundingType: 'retroactive',
		requestedAmount: 75_000,
		proposer: 'TxnLab'
	},
	{
		id: 4,
		title: 'AlgoNFT Marketplace',
		phase: 'submission',
		category: 'NFT',
		fundingType: 'proactive',
		requestedAmount: 50_000,
		proposer: 'NFTify'
	},
	{
		id: 5,
		title: 'AlgoSwap',
		phase: 'closure',
		category: 'DeFi',
		fundingType: 'retroactive',
		requestedAmount: 100_000,
		proposer: 'SwapX'
	
	}
];

---

<Layout title={title}>
	<Header title={title} />
	<main class="m-auto p-4 lg:px-10 w-full grid grid-cols-1 lg:grid-cols-2">
		<div>
			<ProposalFilter className="my-2 lg:my-4" client:react-only />
			<ProposalList proposals={mockProposals} client:react-only />
		</div>
	</main>
</Layout>
