---
import { getAllProposals, getGlobalState } from "@/api";

import Layout from "@/layouts/Layout.astro";
import LandingPage from "@/layouts/LandingPage.astro";

import { HeroAnimation } from "@/components/HeroAnimation/HeroAnimation";
import { Hero } from "@/components/Hero/Hero";
import { ProposalListHeaderIsland } from "@/components/ProposalListHeader/ProposalListHeader";

import { StackedListIsland } from "@/recipes";
import { TestnetDispenserBannerIsland } from "@/components/TestnetDispenserBanner/TestnetDispenserBanner";

const title = "Algorand xGov";

let registry = await getGlobalState()
let proposals = await getAllProposals();
---

<Layout>
  <HeroAnimation />
  <LandingPage>
    <Hero
      client:only="react"
      slot="hero"
      title={title}
      description="xGov is a decentralized, on-chain platform enabling Algorand consensus participants to fund builders across the ecosystem."
      xgovs={Number(registry?.xgovs) || 0}
      proposals={proposals.length}
      treasury={(Number(registry?.outstandingFunds) / 1e6) || 0}
      votes={Number(registry?.committeeVotes) || 0}
    />
    <div id="list-header-title-anchor" class="h-40 absolute top-[-5rem] pointer-events-none"></div>
    <TestnetDispenserBannerIsland client:only="react" />
    <ProposalListHeaderIsland client:only="react" title="Active Proposals" />
    <div class="flex flex-col gap-y-4">
      <StackedListIsland client:only="react" proposals={proposals} />
    </div>
  </LandingPage>
</Layout>
