---
import { getAllProposals, getGlobalState } from "@/api";

import Layout from "@/layouts/Layout.astro";
import LandingPage from "@/layouts/LandingPage.astro";

import { HeroAnimation } from "@/components/HeroAnimation/HeroAnimation";
import { Hero } from "@/components/Hero/Hero";
import { ProposalListHeaderIsland } from "@/components/ProposalListHeader/ProposalListHeader";

import { StackedListIsland } from "@/recipes";

const title = "Algorand xGov";

let registry = await getGlobalState()
let proposals = await getAllProposals();
---

<Layout>
  <HeroAnimation />
  <LandingPage>
    <Hero
      slot="hero"
      title={title}
      description="xGov is a decentralized platform powered by Algorand smart contracts that enables community-driven funding for innovative projects and ideas. Through transparent governance, it empowers the Algorand ecosystem to collectively evaluate and support impactful initiatives."
      xgovs={Number(registry?.xgovs) || 0}
      proposals={proposals.length}
      treasury={(Number(registry?.outstandingFunds) / 1e6) || 0}
      votes={Number(registry?.committeeVotes) || 0}
    />
    <ProposalListHeaderIsland client:only="react" title="Active Proposals" />
    <div class="flex flex-col gap-y-4">
      <StackedListIsland client:only="react" proposals={proposals} />
    </div>
  </LandingPage>
</Layout>
