---

interface Props {
    class: string;
}

const { class: className } = Astro.props;
---
<div class:list={[
    className,
    "w-full flex items-center justify-around lg:justify-start lg:gap-10"
]}>
    <button class="border-2 border-algo-black bg-white rounded-full text-sm lg:text-lg font-medium p-1 w-20 lg:w-40">status</button>
    <button class="border-2 border-algo-black bg-white rounded-full text-sm lg:text-lg font-medium p-1 w-20 lg:w-40">type</button>
    <button class="border-2 border-algo-black bg-white rounded-full text-sm lg:text-lg font-medium p-1 w-20 lg:w-40">amount</button>
    <button class="border-2 border-algo-black bg-white rounded-full text-sm lg:text-lg font-medium p-1 w-20 lg:w-40">category</button>
</div>
