---
const path = Astro.url.pathname;
---

<main class={`m-auto w-full flex-1 ${path === "/" ? "px-2 md:px-4" : "px-4 md:px-8"}`}>
  <slot />
  <div class="justify-self-end">
    <slot name="sidebar" />
  </div>
</main>