---
import { FooterLinks } from "./FooterLinks";
---

<footer
  class="border-t border-x border-algo-blue dark:border-algo-teal bg-algo-blue-20 dark:bg-algo-black mt-10 mx-2 md:mx-4 rounded-t-3xl"
>
  <div class="mx-auto px-10 py-12 md:flex md:items-center md:justify-between">
    <div class="flex items-center justify-center gap-x-6 md:order-2">
      <FooterLinks />
    </div>
    <p
      class="mt-8 text-center text-sm/6 text-algo-black dark:text-white/60 md:order-1 md:mt-0"
    >
      &copy; 2025 Algorand Foundation Inc. All rights reserved.
    </p>
  </div>
</footer>
