---
import { cn } from "@/functions/utils";
import { Link } from "@/components/Link";
import { AlgorandIcon } from "@/components/icons/AlgorandIcon";
import { AdminLinkIsland } from "@/layouts/shell/AdminLink";
interface Props {
  path: string;
}

const path = Astro.url.pathname;
---

<header class="w-full px-2 md:px-4 z-50 fixed pwa-header">
  <div
    class="pwa-item w-full bg-algo-blue dark:bg-algo-teal text-white dark:text-algo-black rounded-b-3xl flex justify-between items-center p-4 lg:px-10"
  >
    <Link to="/" className="flex gap-4 items-center w-8 h-8">
      <AlgorandIcon
        width={32}
        height={32}
        className="fill-white dark:fill-algo-black size-8"
      />
    </Link>

    <div class="hidden lg:inline-flex items-center gap-2 lg:gap-6">
      <nav class="hidden md:flex gap-6 font-bold text-lg">
        <Link
          data-testid="header-docs-link"
          className={cn(
            path === "/docs" ? "bg-algo-black/10" : "",
            "px-2 py-1 hover:bg-white/10 dark:hover:bg-algo-black/10 rounded-md",
          )}
          to="https://forum.algorand.co/c/gov-guides/32"
        >
          Docs
        </Link>
        <!-- <Link
          data-testid="header-cohort-link"
          className={cn(
            path === "/cohort" ? "bg-algo-black/10" : "",
            "px-2 py-1 hover:bg-white/10 dark:hover:bg-algo-black/10 rounded-md",
          )}
          to="/cohort"
        >
          Cohort
        </Link> -->
        <AdminLinkIsland client:only="react" path={path} />
      </nav>
      <slot />
    </div>
    <slot name="mobile-nav" />
  </div>
</header>
