# .github/workflows/chromatic.yml

name: "Chromatic"

on: push

jobs:
  chromatic:
    name: Run Chromatic
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      #TODO: Migrate to GitHub CI App
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: |
            ${{ secrets.TEMP_DEPLOY_KEY }}
            ${{ secrets.TEMP_SC_DEPLOY_KEY }}
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: git submodule update --init --recursive
      - name: Install dependencies
        run: npm install
      - name: Run Build
        run: npm run build
      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          # ⚠️ Make sure to configure a `CHROMATIC_PROJECT_TOKEN` repository secret
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
